<div
  class="modal fade"
  id="editarDoctorModal"
  tabindex="-1"
  aria-labelledby="editarDoctorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editarDoctorModalLabel">
          Editar Doctor
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          #closeModalButton
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>Especialidad: {{ appointment?.specialization }}</div>
        <div>Doctores Disponibles</div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Nombre del Doctor</th>
            </tr>
          </thead>
          <tbody>
            @for (doctor of availableDoctors(); track $index) {
            <tr>
              <td>
                <input
                  (change)="doctorId.set(doctor._id)"
                  class="form-check-input"
                  type="radio"
                  name="doctor"
                />
              </td>
              <td>{{ doctor.name }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button (click)="editarDoctor()" type="button" class="btn btn-primary">
          Actualizar
        </button>
        <button (click)="cancelAppointment()" type="button" class="btn btn-danger">
          Cancelar Consulta
        </button>
      </div>
    </div>
  </div>
</div>