<footer class="fondo-footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row mb-5">
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                    <div class="contact-item mb-3">
                        <span class="icon-container-footer1">
                            <img src="/imagenes/gmail.png" width="30" class="ps-1" alt="...">
                        </span>
                        <p class="mb-0">drgaleno97&#64;gmail.com</p>
                    </div>
                    <div class="contact-item">
                        <span class="icon-container-footer2">
                            <img src="/imagenes/whatsapp.png" width="30" alt="...">
                        </span>
                        <p class="mb-0">+54 9 11-8548-1291</p>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Redes Sociales</h6>
                    <a class="boton-facebook btn text-white btn-floating m-1" style="background-color: #3b5998;"
                        href="https://www.facebook.com/nocountrytech" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="boton-instagram btn text-white btn-floating m-1" style="background-color: #ac2bac;"
                        href="https://www.instagram.com/nocountry.tech/" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="boton-linkedin btn text-white btn-floating m-1" style="background-color: #0082ca;"
                        href="https://www.linkedin.com/company/nocountrytalent/" role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <a> © 2025 Copyright: NoCountry Medical</a>
    </div>
    <!-- Copyright -->
</footer>