
/*Footer*/

.fondo-footer {
    background: #1D1832;
    text-align: center;
    padding: 20px 0;
  }
  /* Estilos adicionales para el contenido del footer */
  .fondo-footer .container .row .col-md-6 ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fondo-footer .container .row .col-md-6 ul li {
    margin-right: 15px;
    /* Ajusta el espaciado según sea necesario */
  }
  
  .fondo-footer .container .row .col-md-6 ul li:last-child {
    margin-right: 0;
    /* Elimina el margen del último elemento */
  }
  
  .contact-item {
    display: flex;
    /* Eliminamos align-items: center; para tener más control sobre la alineación vertical */
  }
  
  .icon-container-footer1, .icon-container-footer2 {
    margin-right: 20px;
  }
  
  /* Añadimos esta regla para alinear el texto verticalmente a la línea base */
  .contact-item p {
    vertical-align: baseline;
  }
  .col-md-4 .contact-item {
    display: flex;
    align-items: center; /* This centers the content vertically */
  }
  
  .fondo-footer h6, .fondo-footer p,  .fondo-footer a {
    color: white; /* Cambia el color a blanco */
  }
  /* Media Queries para Responsividad para diferentes tipos de pantallas */
  
  .boton-facebook:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
  }
  
  .boton-instagram:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
  }
  
  .boton-linkedin:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
  }
  


  @media (max-width: 768px) {
    
    .fondo-footer .container .row .col-md-6 ul {
      flex-direction: column;
      align-items: center;
    }
  
    .fondo-footer .container .row .col-md-6 ul li {
      margin-bottom: 10px;
    }
    .col-md-4 {
      text-align: center; /* This centers the content horizontally */
    }
    
  }  