<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Icono del Buscador -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>

    
    <!-- Nav-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3">
        <div class="container px-4 px-lg-5">
            <!-- Izquierda -->
            <div class="navbar-nav d-flex align-items-center">
                <img class="logo" src="imagenes/icono.png" height="70" width="70" alt="Logo">
                <a class="navbar-brand" href="#page-top">No Country</a>
            </div>
            <!-- Centro -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item d-lg-none"><a class="nav-link" href="#">Acerca de Nosotros</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link" href="#servicios">Servicios</a></li>
                </ul>
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item d-none d-lg-inline"><a class="nav-link ms-5" href="#">Acerca de Nosotros</a>
                    </li>
                    <li class="nav-item d-none d-lg-inline"><a class="nav-link ms-3" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="">Iniciar sesión</a></li>
                    <li class="nav-item"><a class="btn btn-primary" href="">Registro</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Bienvenida -->
    <header class="masthead">
        <div class="d-block d-lg-none"> <!-- Este div solo se mostrará en pantallas pequeñas -->
            <br> <br> <br> <br> <br> <br> <br>
        </div>
        <div class="container px-4 px-lg-5 text-center"> <!-- Agregamos text-center aquí -->
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center">
                <div class="col-lg-6 align-self-end">
                    <h1 class="texto-inicio font-weight-bold">¡Bienvenido a No Country Health!</h1>
                    <hr class="divider" />
                    <p class="text-white-75 mb-5">Con nuestra atención médica te sentirás mejor.</p>
                </div>
                <br>
                <div class="col-lg-6 align-self-baseline">
                    <img src="/imagenes/medico-bienvenida.png" class="img-fluid" alt="Médico">
                </div>
            </div>
        </div>
    </header>

    <!-- Buscador-->

    <section class="page-section full-screen" id="about">
        <div class="container px-4 px-lg-5">
            <div class="container mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-9">
                        <div class="card p-4 mt-3">
                            <h3 class="heading mt-5 text-center">¿En qué podemos ayudarte?</h3>
                            <div class="container">
                                <br>
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="search-icon">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Medicina integral.." aria-label="Search" aria-describedby="search-icon">
                                            <button class="btn btn-lg btn-success search-button" type="submit">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4 g-1 px-4 mb-5">
                               <div class="col-6 col-md-2">
                                    <div class="card-inner p-3 d-flex flex-column align-items-center">
                                        <img src="https://i.imgur.com/Mb8kaPV.png" width="50" alt="Pediatría">
                                        <div class="text-center mg-text"><span class="mg-text">Pediatría</span></div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="card-inner p-3 d-flex flex-column align-items-center">
                                        <img src="https://i.imgur.com/ueLEPGq.png" width="50" alt="Odontología">
                                        <div class="text-center mg-text"><span class="mg-text">Odontología</span></div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="card-inner p-3 d-flex flex-column align-items-center">
                                        <img src="https://i.imgur.com/D0Sm15i.png" width="50" alt="Psicología">
                                        <div class="text-center mg-text"><span class="mg-text">Psicología</span></div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="card-inner p-3 d-flex flex-column align-items-center">
                                        <img src="https://i.imgur.com/Z7BJ8Po.png" width="50" alt="Neurología">
                                        <div class="text-center mg-text"><span class="mg-text">Neurología</span></div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="card-inner p-3 d-flex flex-column align-items-center">
                                        <img src="https://i.imgur.com/YLsQrn3.png" width="50" alt="Cardiología">
                                        <div class="text-center mg-text"><span class="mg-text">Cardiología</span></div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="card-inner p-3 d-flex flex-column align-items-center">
                                        <img src="https://i.imgur.com/tmqv0Eq.png" width="50" alt="COVID-19">
                                        <div class="text-center mg-text"><span class="mg-text">COVID-19</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    


    <!--Servicios-->
    <section id="servicios">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <h3 class="heading mt-5 text-center">Servicios en No Country</h3>
            <br>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-sm d-flex justify-content-around">
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/cardiologia.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cardiologia</h5>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/odontologia.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Odontologia</h5>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/dermatologia.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Dermatologia</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex justify-content-around">
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/neumologia.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Neumologia</h5>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/oftalmologia.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Oftamologia</h5>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/neurologia.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Neurologia</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex justify-content-around">
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/otorrino.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Otorrinologia</h5>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/pediatria.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Pediatria</h5>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="/imagenes/podologia.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Podologia</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Boton de atras-->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <!--Boton de adelante-->
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </section>

    <br> <br>
    <!-- Footer -->
    <footer class="fondo-footer">
        <div class="container p-4">
            <div class="row justify-content-center align-items-center">
                <!-- ICONOS Y ENLACES -->
                <div class="col-md-6 text-center">
                    <section class="mb-4">
                        <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!"
                            role="button"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!"
                            role="button"><i class="fab fa-instagram"></i></a>
                        <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!"
                            role="button"><i class="fab fa-linkedin-in"></i></a>
                    </section>
                </div>
                <div class="col-md-6">
                    <h5 class="text-uppercase mb-0">Enlaces</h5>
                    <ul class="list-unstyled d-flex justify-content-center align-items-center">
                        <li class="me-3"><a href="#!" class="text-body">Enlace 1</a></li>
                        <li class="me-3"><a href="#!" class="text-body">Enlace 2</a></li>
                        <li class="me-3"><a href="#!" class="text-body">Enlace 3</a></li>
                        <li class="me-3"><a href="#!" class="text-body">Enlace 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(245, 245, 245, 0.8);">
                © 2025 Copyright:
                <a class="text-body" href="https://mdbootstrap.com/">Equipo c23-100-webapp</a>
            </div>
        </div>
    </footer>