.texto-amarillo {
  color: #e8e407;
}

/*Estilos para la tabla */

.table-responsive {
  overflow-x: auto;
  /* Permite que la tabla se desplace horizontalmente */
}

.table {
  width: 100%;
  /* Asegúrate de que la tabla ocupe todo el ancho del contenedor */
}

.table th,
.table td {
  font-size: 14px;
  /* Ajusta el tamaño de la fuente para pantallas pequeñas */
}

.custom-badge {
  padding: 4px 8px;
  /* Ajusta el padding según sea necesario */
  font-size: 20px;
}

.page-section {
  background: url('/imagenes/fondo-verde.jpg');
  background-size: cover;
  /* Ajusta la imagen para que cubra toda la sección */
  background-position: 50%;
  /* El primer porcentaje indica que tanto a la izquierda o derecha
      pero no funciona por el background-size, solamente  */
  display: flex;
  flex-direction: column;
  height: 400px;
  /* Ocupa toda la altura de la viewport */

  /* Altura de la sección */
}

/*Especialides*/

header.especialidad {
  background: #127f2f;
}

.especialidad {
  background: #e8e407;
}

.imagen-card {
  width: 30%;
  /* Asegúrate de que las imágenes ocupen el 100% del ancho de su contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen */
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
}

/*Responsabilidad para pantallas pequeñas es decir las que no pasen los 768px*/

@media (max-width: 768px) {
  /* Reduce el tamaño del texto de la Bienvenida en pantallas pequeñas */
  .texto-inicio {
    font-size: 1.5rem;
  }

  .page-section{

  height: 150vh;
  }

  /*Formularios*/
  .table th,
  .table td {
    font-size: 12px;
    /* Reduce aún más el tamaño de la fuente en pantallas pequeñas */
  }

  .btn {
    padding: 4px 8px;
    /* Ajusta el padding según sea necesario */
    font-size: 12px;
    /* Cambia el tamaño de la fuente */
  }

  .custom-badge {
    padding: 4px 8px;
    /* Ajusta el padding según sea necesario */
    font-size: 10px;
  }
  /*Aqui subo el texto para que este mas cerca de la imagen*/
  .especialidad .col-lg-6 {
    margin-bottom: -75px;
    /* Add margin to separate image and text */
  }

  .imagen-card {
    width: 60%;
    /* Cambia el tamaño según lo que desees */
    margin: 0 auto;
    /* Centra la imagen */
  }

  .col-md-4 {
    text-align: center;
    /* This centers the content horizontally */
  }
}

/*Responsabilidad para pantallas grandes es decir las que pasen los 992px*/
@media (min-width: 992px) {
  header.bienvenida p {
    font-size: 1.5rem;
  }

  header.especialidad p {
    font-size: 1.5rem;
  }
}

/*Responsabilidad para pantallas grandes es decir las que pasen los 1200px*/
@media (min-width: 1200px) {
  header.bienvenida h1,
  header.bienvenida .h1 {
    font-size: 3rem;
  }

  header.especialidad h1,
  header.especialidad .h1 {
    font-size: 3rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 60vh;
}
