<!-- Lista de pacientes para asignar doctor -->
<section class="page-section full-screen" id="sapo">
  <div class="container px-4 px-lg-5 text-center">
    <br /><br />
    <div class="table-responsive">
      <!-- Contenedor para hacer la tabla responsiva -->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id Paciente</th>
            <th scope="col">Especialidad Buscada</th>
            <th scope="col">Estado de la cita</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (appointment of appointments(); track $index) {
          <tr>
            <td>{{ appointment._id }}</td>
            <td>{{ appointment.specialization }}</td>
            <td>{{ appointment.reason }}</td>
            <td>
              <span
                [class.text-bg-success]="appointment.status === 'Confirmed'"
                [class.text-bg-danger]="appointment.status === 'Cancelled'"
                [class.text-bg-warning]="appointment.status === 'Pending'"
                class="badge custom-badge"
                >{{ appointment.status }}</span
              >
            </td>
            @if (appointment.status === "Pending") {
            <td>
              <a
                (click)="assignDoctorModal.setAppointment(appointment)"
                data-bs-toggle="modal"
                data-bs-target="#assignDoctorModal"
                class="btn btn-secondary btn-sm"
                >Asignar Doctor</a
              >
            </td>
            }@else {
            <td></td>
            }
          </tr>
          }
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <button
              (click)="loadPage(page() - 1)"
              class="page-link"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
          <li class="page-item">
            <a class="page-link">{{ page() }}</a>
          </li>
          <li class="page-item">
            <button
              (click)="loadPage(page() + 1)"
              class="page-link"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<app-assign-doctor-modal
  (doctorAssignedEvent)="onDoctorAssignedEvent($event)"
  #assignDoctorModal
/>
