

/*Bienvenida*/

.col-lg-6.align-self-baseline {
  margin-top: 30px;
  /* Ajusta según sea necesario */
  margin-bottom: 30px;
}

.text-white col-lg-6.align-self-end {
  margin-top: 100px;
  /* Aumenta el margen superior para subir el texto */
}

header.bienvenida {
  background: #127F2F;

}

.texto-inicio {
  color: #E8E407;
}

.text-white-75 {
  color: #E8E407;
}

/*Especialides*/


header.especialidad {
  background: #127F2F;

}

.especialidad {
  background: #E8E407;

}

.imagen-card {
  width: 70%;
  /* Asegúrate de que las imágenes ocupen el 100% del ancho de su contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen */
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
}

@media (max-width: 768px) {

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-brand {
    margin: 5px 0;
    /* Espaciado entre enlaces en móviles */
  }

  .icon-container {
    margin-right: 20px;
  }

  /* Reduce el tamaño del texto de la Bienvenida en pantallas pequeñas */
  .texto-inicio {
    font-size: 1.5rem;
  }

}

/*Responsabilidad para pantallas grandes es decir las que pasen los 992px*/
@media (min-width: 992px) {

  header.bienvenida p {
    font-size: 1.5rem;
  }

  header.especialidad p {
    font-size: 1.5rem;
  }

}

/*Responsabilidad para pantallas grandes es decir las que pasen los 1200px*/
@media (min-width: 1200px) {

  header.bienvenida h1,
  header.bienvenida .h1 {
    font-size: 3.0rem;
  }

  header.especialidad h1,
  header.especialidad .h1 {
    font-size: 3.0rem;
  }
}