
<!-- Bienvenida -->
<header class="bienvenida" id="bienvenida">
    <div class="container text-center"> <!-- Agregamos text-center aquí -->
        <div class="row">
            <div class="col-lg-6 align-self-baseline">
                <img src="/imagenes/doctor-bienvenida.png" class="img-fluid" alt="Médico">
            </div>
            <div class="col">
                <br><br><br><br>
                <h1 class="texto-inicio font-weight-bold">Listo para salvar vidas
                </h1>
                <br>
                <p class="text-white-75 mb-5">Tu principal rol es mantener la salud y el bienestar
                    del paciente, agradeciendo siempre tu gran rol fundamental de salvar vidas
                </p>
            </div>
        </div>
    </div>
    <br><br>
</header>







<!-- Especialidades medicas -->
<header class="especialidad" id="Especialidades">
    <div class="container text-center"> <!-- Agregamos text-center aquí -->
        <div class="row">
            <div class="col-lg-6 align-self-baseline">
                <img src="/imagenes/fondo-especialidad.jpeg" class="img-fluid" alt="Especialidades">
            </div>

            <div class="col">
                <br><br><br><br>
                <h1 class="texto-inicio font-weight-bold">Especialidades Medicas.
                </h1>
                <br>
                <p class="text-white-75 mb-5">Contamos con una amplia gama de especialistas en diversas
                    areas como Cardiología, Oncología, Pediatría, Neurología, Ginecología y mas.
                    <br><br>
                    Nuestra prioridad es tu salud y bienestar.
                    <br>
                    Nos aseguramos de que cada paso de tu tratamiento sea lo mas cómodo y eficaz posible.
                </p>
            </div>
        </div>
    </div>
    <br><br>
</header>


<!-- Cards de  Planes de alimentación, salud y enfermedades -->
<header class="especialidad" id="Especialidades">
    <div class="container text-center"> <!-- Agregamos text-center aquí -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col ">
                <div class="card h-100 especialidad">
                    <img src="/imagenes/card-dieta.png" class="card-img-top imagen-card" alt="Dieta">
                    <div class="card-body">
                        <h5 class="card-title">Planes de alimentación y dieta</h5>
                        <br>
                        <p class="card-text">Implementación y seguimiento de una alimentación saludable y estable
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 especialidad">
                    <img src="/imagenes/card-salud.png" class="card-img-top imagen-card " alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Planes de salud compatibles</h5>
                        <br>
                        <p class="card-text">Información sobre seguros medicos y planes de salud compatibles con el
                            sitio web.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 especialidad">
                    <img src="/imagenes/card-enfermedades.png" class="card-img-top imagen-card" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Enfermedades</h5>
                        <br>
                        <p class="card-text">Las enfermedades son mortales para la sociedad, por eso debemos
                            informarnos mas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</header>