<!-- Sidebar -->
<div class="sidebar" [class.half-open]="isSidebarHalfOpen" [class.full-open]="isSidebarOpen">
    <div class="sidebar-content">
        <div class="container">
            <!-- Section: Links -->
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['']">
                                <div style="display: flex; align-items: center;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                        class="bi bi-house-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                                        <path
                                            d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                                    </svg>
                                    <span style="margin-left: 10px;">Inicio</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/dashboard']">
                                <div style="display: flex; align-items: center;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                        class="bi bi-calendar" viewBox="0 0 16 16">
                                        <path
                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                    </svg>
                                    <span style="margin-left: 10px">Pacientes en espera</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col">
                    <div class="sidebar-button-container" >
                        <button class="btn btn-primary" (click)="toggleSidebar()">
                        @if (!isSidebarOpen) {
                        <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </span>
                        }@else {
                        <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </span>
                        }
                        </button>
                    </div>
                </div>
            </div>
            <!-- Section: Links -->
        </div>
    </div>
</div>
<!-- Bienvenida -->
<header class="bienvenida" id="bienvenida">
    <div class="container text-center"> <!-- Agregamos text-center aquí -->
        <div class="row">
            <div class="col-lg-6 align-self-baseline">
                <img src="/imagenes/doctor-bienvenida.png" class="img-fluid" alt="Médico">
            </div>
            <div class="col">
                <br><br><br><br>
                <h1 class="texto-inicio font-weight-bold">Listo para salvar vidas
                </h1>
                <br>
                <p class="text-white-75 mb-5">Tu principal rol es mantener la salud y el bienestar
                    del paciente, agradeciendo siempre tu gran rol fundamental de salvar vidas
                </p>
            </div>
        </div>
    </div>
    <br><br>
</header>







<!-- Especialidades medicas -->
<header class="especialidad" id="Especialidades">
    <div class="container text-center"> <!-- Agregamos text-center aquí -->
        <div class="row">
            <div class="col-lg-6 align-self-baseline">
                <img src="/imagenes/fondo-especialidad.jpeg" class="img-fluid" alt="Especialidades">
            </div>

            <div class="col">
                <br><br><br><br>
                <h1 class="texto-inicio font-weight-bold">Especialidades Medicas.
                </h1>
                <br>
                <p class="text-white-75 mb-5">Contamos con una amplia gama de especialistas en diversas
                    areas como Cardiología, Oncología, Pediatría, Neurología, Ginecología y mas.
                    <br><br>
                    Nuestra prioridad es tu salud y bienestar.
                    <br>
                    Nos aseguramos de que cada paso de tu tratamiento sea lo mas cómodo y eficaz posible.
                </p>
            </div>
        </div>
    </div>
    <br><br>
</header>


<!-- Cards de  Planes de alimentación, salud y enfermedades -->
<header class="especialidad" id="Especialidades">
    <div class="container text-center"> <!-- Agregamos text-center aquí -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col ">
                <div class="card h-100 especialidad">
                    <img src="/imagenes/card-dieta.png" class="card-img-top imagen-card" alt="Dieta">
                    <div class="card-body">
                        <h5 class="card-title">Planes de alimentación y dieta</h5>
                        <br>
                        <p class="card-text">Implementación y seguimiento de una alimentación saludable y estable
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 especialidad">
                    <img src="/imagenes/card-salud.png" class="card-img-top imagen-card " alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Planes de salud compatibles</h5>
                        <br>
                        <p class="card-text">Información sobre seguros medicos y planes de salud compatibles con el
                            sitio web.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 especialidad">
                    <img src="/imagenes/card-enfermedades.png" class="card-img-top imagen-card" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Enfermedades</h5>
                        <br>
                        <p class="card-text">Las enfermedades son mortales para la sociedad, por eso debemos
                            informarnos mas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</header>