<div class="register-container">
  <div class="register-card">
    <img
      src="/imagenes/medico-bienvenida.png"
      class="register-image"
      alt="Médico"
    />
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="register-form"
    >
      <h2>Crear Cuenta</h2>

      <div class="d-flex flex-column flex-sm-row justify-items-center gap-sm-3">
        <div class="w-100">
          <label for="name">Nombre</label>
          <input
            id="name"
            formControlName="name"
            type="name"
            placeholder="Ingresa tu nombre"
          />
          @if (hasErrors("name", 'required')) {
          <span>El nombre es obligatorio.</span>
          }@if (hasErrors('name', 'minlength')) {
          <span>Debe tener un mínimo de 3 caracteres.</span>
          }
        </div>

        <div class="w-100">
          <label for="email">Email</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            placeholder="Ingresa tu email"
          />
          @if (hasErrors("email", 'required')) {
          <span>El email es obligatorio.</span>
          } @if (hasErrors('email', 'email')) {
          <span>Debe ser un email válido.</span>
          }
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-items-center gap-sm-3">
        <div class="w-100">
          <label for="password">Password</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            placeholder="Ingresa tu contraseña"
          />
          @if (hasErrors("password", 'required')) {
          <span>El password es obligatorio.</span>
          } @if (hasErrors('password', 'minlength')) {
          <span>Debe tener un mínimo de 6 caracteres.</span>
          }
        </div>
        <div class="w-100">
          <label for="confirm-password">Confirmar contraseña</label>
          <input
            id="confirm-password"
            formControlName="confirmPassword"
            type="password"
            placeholder="Confirma tu contraseña"
          />
          @if (hasErrors("confirmPassword", 'required')) {
          <span>Debe confirmar su password.</span>
          } @if (hasErrors('confirmPassword', 'mismatch') &&
          !hasErrors('confirmPassword', 'required')) {
          <span>Los passwords deben de coincidir.</span>
          }
        </div>
      </div>

      <label for="phone">Teléfono:</label>
      <input
        id="phone"
        formControlName="phone"
        type="tel"
        placeholder="Ingresa tu número de teléfono"
        [value]="'+'"
      />
      @if (hasErrors("phone", 'required')) {
      <span>El teléfono es obligatorio.</span>
      }@if (hasErrors('phone', 'pattern')) {
      <span>Número de teléfono inválido.</span>
      }



        <div class="d-flex flex-column flex-sm-row justify-items-center gap-sm-3">
        <div class="w-100">
          <label for="specialization">Especialización (Doctor)</label>
          <select
            formControlName="specialization"
            name="specialization"
            id="specialization"
          >
           
          <option value="" disabled selected>Seleccione una especialidad</option>
          <option value="Médicina General">Médicina General</option>
          <option value="Psicólogo">Psicologo</option>
          <option value="Psiquiatría">Psiquiatria</option>
          <option value="Psicoterapia">Psicoterapia</option>
          <option value="Nutricionista">Nutricionista</option>
          <option value="Endocrinólogo">Endocrinólogo</option>
          </select>
          @if (hasErrors("specialization", 'specializationRequired')) {
          <span>Debe de elegir una especialización</span>
          }
        </div>
      </div>



      <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Regístrate</button>
    </form>
  </div>
</div>
