<!-- Bienvenida -->
<header class="bienvenida pt-5" id="bienvenida">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 align-self-baseline">
                <img src="/imagenes/hospital.jpg" class="img-fluid" alt="Médico">
            </div>
            <div class="col">
                <h1 class="texto-inicio font-weight-bold">¡Bienvenidos!<br>Somos NoCountry Medical</h1>
                <br>
                <p class="text-white-75 mb-5">Somos una Clínica que fue fundada en el año 2020, el cual empezó
                    brindado atención medica para los pacientes del COVID-19 y actualmente contamos con varias
                    especialidades como Psicología, Psiquiatría, Neurología etc... Estamos ubicados en Buenos Aires,
                    Argentina</p>
            </div>
        </div>
    </div>
</header>
<!--Servicios-->
<section id="servicios" class="pb-5">
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <h3 class="heading text-center texto-amarillo pt-5">Servicios que ofrecemos:</h3>
        <br>
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <div class="card-wrapper container-sm d-flex justify-content-around">
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/cardiologia.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Cardiología</h5>
                        </div>
                    </div>
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/odontologia.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Odontología</h5>
                        </div>
                    </div>
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/dermatologia.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Dermatología</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-wrapper container-sm d-flex justify-content-around">
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/neumologia.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Neumología</h5>
                        </div>
                    </div>
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/oftalmologia.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Oftalmología</h5>
                        </div>
                    </div>
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/neurologia.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Neurología</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="card-wrapper container-sm d-flex justify-content-around">
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/otorrino.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Otorrino</h5>
                        </div>
                    </div>
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/pediatria.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Pediatría</h5>
                        </div>
                    </div>
                    <div class="card h-100 servicio-card" style="width: 18rem">
                        <img src="/imagenes/podologia.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Podología</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Botón de atrás-->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <!--Botón de adelante-->
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</section>