<div class="register-container">
  <div class="register-card">
    <img
      src="/imagenes/medico-bienvenida.png"
      class="register-image"
      alt="Médico"
    />
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="register-form"
    >
      <h2>Crear Cuenta</h2>

      <label for="email">Email:</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="Ingresa tu email"
      />
      <label for="password">Password:</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Ingresa tu contraseña"
      />
      <button type="submit">Regístrate</button>
    </form>
  </div>
</div>
