<div class="register-container">
  <div class="register-card">
    <img
      src="/imagenes/medico-bienvenida.png"
      class="register-image"
      alt="Médico"
    />
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="register-form"
    >
      <h2>Crear Cuenta</h2>

      <label for="email">Email:</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="Ingresa tu email"
      />
      @if (hasErrors("email", 'required')) {
      <small>El email es obligatorio.</small>
      } @if (hasErrors('email', 'email')) {
      <small>Debe ser un email válido.</small>
      }
      <label for="password">Password:</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Ingresa tu contraseña"
      />
      @if (hasErrors("password", 'required')) {
      <small>El password es obligatorio.</small>
      } @if (hasErrors('password', 'minlength')) {
      <small>Debe tener un mínimo de 6 caracteres.</small>
      }
      <label for="confirm-password">Password:</label>
      <input
        id="confirm-password"
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirma tu contraseña"
      />
      @if (hasErrors("confirmPassword", 'required')) {
      <small>Debe confirmar su password.</small>
      } @if (registerForm.hasError('mismatch') &&
      registerForm.get('confirmPassword')?.touched &&
      !hasErrors('confirmPassword', 'required')) {
      <small>Los passwords deben de coincidir.</small>
      }
      <button type="submit" [disabled]="">Regístrate</button>
    </form>
  </div>
</div>
