<div class="register-container">
  <div class="register-card">
    <img
      src="/imagenes/medico-bienvenida.png"
      class="register-image"
      alt="Médico"
    />
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="register-form"
    >
      <h2>Crear Cuenta</h2>

      <label for="name">Nombre:</label>
      <input
        id="name"
        formControlName="name"
        type="name"
        placeholder="Ingresa tu nombre"
      />
      @if (hasErrors("name", 'required')) {
      <small>El nombre es obligatorio.</small>
      }@if (hasErrors('name', 'minlength')) {
        <small>Debe tener un mínimo de 3 caracteres.</small>
      }

      <label for="email">Email:</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="Ingresa tu email"
      />
      @if (hasErrors("email", 'required')) {
      <small>El email es obligatorio.</small>
      } @if (hasErrors('email', 'email')) {
      <small>Debe ser un email válido.</small>
      }
      <label for="password">Password:</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Ingresa tu contraseña"
      />
      @if (hasErrors("password", 'required')) {
      <small>El password es obligatorio.</small>
      } @if (hasErrors('password', 'minlength')) {
      <small>Debe tener un mínimo de 6 caracteres.</small>
      }
      <label for="confirm-password">Password:</label>
      <input
        id="confirm-password"
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirma tu contraseña"
      />
      @if (hasErrors("confirmPassword", 'required')) {
      <small>Debe confirmar su password.</small>
      } @if (hasErrors('confirmPassword', 'mismatch')) {
      <small>Los passwords deben de coincidir.</small>
      }

       <label for="phone">Teléfono:</label>
      <input
        id="phone"
        formControlName="phone"
        type="phone"
        placeholder="Ingresa tu número de teléfono"
        [value]="'+'"
      />
      @if (hasErrors("phone", 'required')) {
      <small>El nombre es obligatorio.</small>
      }@if (hasErrors('phone', 'pattern')) {
        <small>Debe tener sólo números.</small>
      }

      <label for="role">Rol:</label>
      <input
        id="role"
        formControlName="role"
        type="role"
        placeholder="Ingresa tu rol"
      />
      @if (hasErrors("role", 'required')) {
      <small>El rol es obligatorio.</small>
      }


      <button type="submit" [disabled]="">Regístrate</button>
    </form>
  </div>
</div>
