<!-- Citas -->
<div class="quotes">
  <div class="cont-cuadro">
      <!-- CUADRO DATOS -->
      <div class="formCuadro">
          <form>
              <input id="horario" type="text" name="horario" value="Horario de reunión: 18:30pm" disabled="disabled"/>
              <input id="direccion" type="text" name="direccion" value="Dirección: Av. Rivadavia 2100" disabled="disabled"/>
              <input id="pasillo" type="text" name="pasillo" value="Pasillo: C" disabled="disabled"/>
              <input id="puerta" type="text" name="puerta" value="Puerta: 14" disabled="disabled"/>
              <textarea id="msj" type="text" name="msj" disabled="disabled">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam distinctio quas fuga officiis. Sequi beatae quidem deleniti illo repellat assumenda repellendus ratione dolorem rerum. Porro atque id cumque voluptatum aliquid." disabled="disabled</textarea>
          </form>
      </div>
      <!-- CUADRO FOTO -->
      <div class="cuadroFoto">
          <img id="cuadroFoto" src="imagenes/medicina-general.jpg" alt="User image" />
          <h2>Roberto Archundia</h2>
      </div>
  </div>
</div>