/*SideBar o Barra Vertical*/

.sidebar {
  position: fixed;
  top: 200px;
  width: 220px;
  background: #1D1832;
  overflow-y: auto;
  z-index: 1;
  transition: left 0.3s ease-in-out;
  border-radius: 8px
  /* Agrega una transición suave */
}

.sidebar.half-open {
  left: -160px;
  /* Ajusta este valor según el ancho deseado cuando esté medio abierto */
}

.sidebar.full-open {
  left: 0;
  /* This positions the sidebar fully open */
}

.sidebar ul {
  list-style-type: none;
  /* Elimina los puntos de la lista */
  padding: 0;
  /* Elimina el padding */
}

.sidebar ul li a {
  text-decoration: none;
  /* Elimina el subrayado de los enlaces */
  color: #ffffff;
  /* Color del texto */
  display: block;
  /* Hace que el área del enlace sea más grande */
  padding: 5px;
  /* Espaciado interno del enlace */
  border-radius: 5px;
  /* Bordes redondeados */
}

.sidebar ul li a:hover {
  background: #127F2F;
  color: white;
  /* Color del texto al pasar el ratón */
}

.sidebar-button {
  /* Add your button styles here */
  background-color: #127F2F;
  /* Example button style */
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sidebar-content {
  flex: 1;
  /* Permite que esta sección ocupe el espacio disponible */
  display: flex;
  /* Usar flexbox para las columnas internas */
  padding: 30px 10px;
}

.sidebar-content ul {
  flex: 1;
  /* Esta columna ocupa el espacio restante */
}

.sidebar-button-container {
  margin-top: auto;
  /* Empuja el botón hacia abajo */
  padding: 0;
  /* Elimina el padding */
  position: absolute;
  /* Posiciona el contenedor de manera absoluta */
  bottom: 50px;
  /* Alinea el contenedor al fondo */
  right: 0;
  /* Alinea el contenedor a la derecha */
}

.nav-item {
  margin-bottom: 20px;
}

.sidebar-button-container .btn {
  height: 100px;
}

/* Citas */

.quotes {
  background-image: url('../../../../../public/imagenes/fondo-verde.jpg');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.cont-cuadro {
  width: 900px;
  padding: 0px;
  margin: auto;
  background-color: yellow;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formCuadro {
  width: 50%;
  padding: 40px;
}
.cuadroPaciente {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-image: url('../../../../../public/imagenes/fondo-azul.jpg');
}
input:disabled, textarea:disabled {
  background-color: white;
}
input[type='text'], textarea {
  width: 100%;
  padding: 6px;
  display: block;
  box-sizing: border-box;
  border: 2px solid #cecece;
  border-radius: 5px;
  color: #404040;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}
textarea {
  margin: 0px;
  height: 170px;
}
.cuadroFoto {
  align-self: center;
}
.cuadroFoto img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  align-self: center;
}
.cuadroFoto h2 {
  text-align: center;
  color: white;
}
.cuadroBotones {
  display: flex;
  justify-content: space-between;
}
.cuadroBotones div {
  width: 170px;
  height: 50px;
  align-content: center;
}
.cuadroBotones a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/*------------------------------------------RESPONSIVE----------------------------------*/
@media (max-width: 880px) {
  .cont-cuadro {
    width: 100%;
    flex-direction: column-reverse;
  }
  .cuadroPaciente {
    width: 100%;
  }
  .formCuadro {
    width: 100%;
  }
  .cuadroFoto {
    width: 100%;
    margin-bottom: 60px;
  }
}
