
<!-- Citas -->
<div class="quotes">
    <div class="container cont-cuadro" *ngFor="let regCita of registrosCitas">
        <!-- CUADRO DATOS -->
        <div class="formCuadro">
            <form>
                <input id="horario" type="text" name="horario" value="Horario: {{regCita.horario}}" disabled="disabled" />
                <input id="direccion" type="text" name="direccion" value="Dirección: {{regCita.direccion}}" disabled="disabled" />
                <input id="pasillo" type="text" name="pasillo" value="Pasillo: {{regCita.pasillo}}" disabled="disabled" />
                <input id="puerta" type="text" name="puerta" value="Número de puerta: {{regCita.numeroPuerta}}" disabled="disabled" />
                <textarea id="msj" type="text" name="msj"
                    disabled="disabled">Mensaje: {{regCita.msj}}</textarea>
            </form>
        </div>
        <!-- CUADRO PACIENTE -->
        <div class="cuadroPaciente">
            <div class="cuadroFoto">
                <div class="d-flex justify-content-center">
                    <img src="imagenes/doctores/{{regCita.doctor.photo}}" />
                </div>
                <h2 class="mt-4">{{regCita.doctor.name}}</h2>
            </div>
            <div class="cuadroBotones">
                <div class="btn btn-danger">
                    <a href="">Cancelar cita</a>
                </div>
                <div class="btn btn-primary">
                    <a href="">Nueva cita</a>
                </div>
            </div>
        </div>
    </div>
</div>