.texto-amarillo {
  color: #E8E407;
  background-color: #127F2F;
  width: 750px;
}
/**Estilos para el formulario***/



.page-section {
  background: url("/imagenes/fondo-verde.jpg");
  background-size: cover;
  /* Ajusta la imagen para que cubra toda la sección */
  background-position: 50%;
  /* El primer porcentaje indica que tanto a la izquierda o derecha
      pero no funciona por el background-size, solamente  */
      display: flex;
      flex-wrap: wrap; /* Permite que los elementos se ajusten a varias líneas en pantallas pequeñas */
      justify-content: center; /* Centra los elementos horizontalmente */
      align-items: center; /* Centra los elementos verticalmente */
  /* Ocupa toda la altura de la viewport */

  /* Altura de la sección */
}

/*Especialides*/


.col {
  flex: 1 0 30%; /* Cada elemento ocupa el 30% del ancho disponible */
  margin: 10px; /* Espacio entre los elementos */
  box-sizing: border-box; /* Incluye el padding y el border en el cálculo del ancho */
}

.card {
  height: 100%; /* Asegura que las tarjetas ocupen toda la altura del contenedor */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el espacio entre la imagen y el botón */
}

.card-body {
  text-align: center; /* Centra el texto del botón */
}

.imagen-card {
  width: 60%; /* Ajusta el tamaño de la imagen */
  height: auto;
  margin: 20px auto; /* Ajusta el margen para centrar y separar la imagen */
}
.especialidad {
  background: #E8E407;

}
/*Responsabilidad para pantallas pequeñas es decir las que no pasen los 768px*/

@media (max-width: 768px) {
  .sidebar {
    left: -160px;
    /* Oculta el sidebar */
  }

  /* Reduce el tamaño del texto de la Bienvenida en pantallas pequeñas */
  .texto-inicio {
    font-size: 1.5rem;
  }

  /*Formularios*/
  .col {
    flex: 1 0 45%; /* Dos elementos por línea en pantallas pequeñas */
}
  .imagen-card {
    width: 60%;
    /* Cambia el tamaño según lo que desees */
    margin: 0 auto;
    /* Centra la imagen */
  }

  .col-md-4 {
    text-align: center;
    /* This centers the content horizontally */
  }

}

/*Responsabilidad para pantallas grandes es decir las que pasen los 992px*/
@media (min-width: 992px) {

  header.bienvenida p {
    font-size: 1.5rem;
  }

  header.especialidad p {
    font-size: 1.5rem;
  }

}

/*Responsabilidad para pantallas grandes es decir las que pasen los 1200px*/
@media (min-width: 1200px) {

  header.bienvenida h1,
  header.bienvenida .h1 {
    font-size: 3.0rem;
  }

  header.especialidad h1,
  header.especialidad .h1 {
    font-size: 3.0rem;
  }
}